<div id="page_wrapper">
  

<h1>Authorize users to post</h1>
<%if @blankadmin %>
<h4 style="color: red">Blank field. </h4>
<%elsif @wrongadmin%>
<h4 style="color: red">Email does not exist. </h4>
<%elsif @alreadyadmin%>
<h4 style="color: red">User is already an admin. </h4>
<%elsif @blockedadmin%>
<h4 style="color: red">This account is blocked. Unblock to authorize. </h4>
<%end%>
<%= form_for :add do |f| %>

  <p>
    <%= f.label :email%><br>
    <%= f.email_field :email %>
 </p>
 <p>
    <%= f.submit "Authorize"%>
  </p>
<% end %>
</div>