<div id="page_wrapper">
  

<h1>Authorize users to post</h1>
<%= form_for :add do |f| %>

  <p>
    <%= f.label :email%><br>
    <%= f.email_field :email %>
 </p>
 <p>
    <%= f.submit "Authorize"%>
  </p>
<% end %>
</div>