<div id="page_wrapper">
  

<h1>Block users from blog</h1>
<%= form_for :block do |f| %>

  <p>
    <%= f.label :email%><br>
    <%= f.email_field :email %>
 </p>
 <p>
    <%= f.submit "Block Account"%>
  </p>
<% end %>

</div>