<div id="page_wrapper">
  

<h1>Unblock users from blog</h1>
<%if @blankunblock %>
<h4 style="color: red">Blank field. </h4>
<%elsif @wrongunblock%>
<h4 style="color: red">Email does not exist. </h4>
<%elsif @blockedunblock%>
<h4 style="color: red">Account is not blocked. </h4>
<%end%>
<%= form_for :unblock do |f| %>

  <p>
    <%= f.label :email%><br>
    <%= f.email_field :email %>
 </p>
 <p>
    <%= f.submit "Unblock Account"%>
  </p>
<% end %>

</div>