html{
	 background:-webkit-linear-gradient(45deg , #e10522 0%  , rgba(92 , 115, 25 , 0) 70%), 
  				-webkit-linear-gradient(315deg, #3105d1 10% , rgba(255, 5  , 34 , 0) 80%),
   				-webkit-linear-gradient(225deg, #0adbd8 10% , rgba(49 , 5  , 209, 0) 80%),
    			-webkit-linear-gradient(135deg, #09f505 100%, rgba(10 , 219, 216, 0) 70%);
  background: 	linear-gradient(45deg , #e10522 0%  , rgba(9 , 245, 5  , 0) 70%),
   				linear-gradient(135deg, #3105d1 10% , rgba(49, 5  , 209, 0) 80%),
    			linear-gradient(225deg, #0adbd8 10% , rgba(10, 219, 216, 0) 80%),
     			linear-gradient(315deg, #09f505 100%, rgba(9 , 245, 5  , 0) 70%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%; 
    text-align: center; 
    text-transform: uppercase;
    position: fixed;
}
}
.bmenu{
	
	margin:center;
	text-align: center;

	transition: background-color 0.5s ease-in-out;
}
.bmenu li{
	font-size: 60px;
	display: block;
	line-height: 70px;
}
.bmenu li a{
	text-decoration: none;
	white-space: nowrap;
	color: transparent;
	display: block;
	text-align: center;
	text-shadow: 0px 0px 7px #fff;
	letter-spacing: 3px;  
	transform: scale(0.9);
	transition: all 0.4s linear;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 25px #fff;
}
.bmenu li a:hover{
	text-shadow: none;
	color: #fff;
	text-decoration: none;
	transform: scale(1.1); 
}