

  <% @posts.each do |post| %>
  <div class="post_wrapper">
  
    <tr>
      <td><h2 class="title">
<%= link_to post.title, post %>
</h2></td>
      
     
      <p class="date"><%= post.created_at.strftime("%B,%d,%Y")%> </p>
     <%if @current_user!=nil && @current_user['id'] == post.aid%> 
      <td><%= button_to "delete", {:controller => :posts,
      						   :action => 'delete',
      						   :id => post.id },
      						   :method => :delete %>
      						   </td>
      <% end %>
      						    
      				<%= flash[:notice] if flash[:notice] %>		   
      
    </tr>
    </div>
  <% end %>
