<div id="page_wrapper">
<b>INDEX</b>
  <% @posts.each do |post| %>
  <div class="post_wrapper">
  
    <tr>
      <td><h2 class="title">
<%= link_to post.title, "posts/#{post.id}" %>
</h2></td> <div style="text-align: right">
      -<%=Member.find(post.aid).signature%> <br>
      </div>
  	   <p class="date"><%= post.created_at.strftime("%d %B %Y")%> </p>
      
    </tr>
    </div>
  <% end %>
  </div>
